/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}
app-root {
  height: 100dvh;
}
main {
  flex: 1;
}

a {
  text-decoration: none !important;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
